*.pyc
*.pdf
*.csv
*.jpg
*.txt
*.dbf
*.prj
*.shp
*.shx
*.sbn
*.sbx
*.xml
*.cpg
*.png
analysis/.ipynb_checkpoints/
data_preparation/.ipynb_checkpoints/
prediction/.ipynb_checkpoints/
prediction/runs/
prediction/models/
.idea/